# pidfile control/master.pid
# master_fifo control/master.fifo
# uwsgi_socket control/uwsgi.socket
[uwsgi]
uwsgi-socket={{ uwsgi_socket }}
lazy-apps=True
pidfile={{ uwsgi_pidfile }}
master-fifo={{ uwsgi_master_fifo }}
wsgi={{ uwsgi_wsgi_module }}
workers={{ uwsgi_workers }}
virtualenv={{ virtualenv }}
env=
